@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

.card {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 75px;
    font-size: 20px;
    text-align: center;
    line-height: 75px;
    margin: 0 5px;
    box-shadow: 1px 1px 3px #555;
    cursor: pointer;
    border-radius: 3px;
    transition: box-shadow .3s;
}

.card.diamonds, .card.hearts {
    color: red;
}

.card:hover {
    box-shadow: 1px 1px 5px #555;
}

.card.selected {
    bottom: 5px;
}

.button {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    background-color: #aaa;
    color: #fff;
}